################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextBuddySDK/CopilotIndices/17.14.939.21063
/.vs
/bin/Debug/net8.0
/obj
